Repository StreakingMan/vue3-resume-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix, stylelint --syntax=scss --fix

chore: vue组件改为setup script，解决type-check报错
  .gitignore
  src/components/config-widgets/ConfigItem.vue
  src/components/config-widgets/ConfigToggle.vue
  src/components/config-widgets/ConfigToggleOption.vue
  src/components/core/MaterialConfigPopover.vue
  src/components/core/MaterialInstance.vue
  src/components/core/MaterialPrototype.vue
  src/components/core/Paper.vue
  src/components/core/Sketch.vue
  src/components/materials/MDivider.vue
  src/components/materials/MIcon.vue
  src/components/materials/MImage.vue
  src/components/materials/MList.vue
  src/components/materials/MPie.vue
  src/components/materials/MRating.vue
  src/components/materials/MRect.vue
  src/components/materials/MText.vue
  src/components/materials/MTimeline.vue
  src/components/materials/prototypes.ts
  src/components/other/BeiAn.vue
  src/components/tools/Github.vue
  src/utils/utils.test.ts
  tsconfig.app.json
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 对齐算法单测区分环境
  src/classes/Paper.test.ts
  src/utils/timeFunction.ts
Due: eslint --cache --fix, prettier --write

feat: 增减页面
  package.json
  pnpm-lock.yaml
  src/classes/Paper.test.ts
  src/classes/Paper.ts
  src/components/core/Paper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: 调整新增页面按钮位置
  src/App.vue
  src/components/core/Paper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 打印时图片加载问题临时处理
  src/App.vue
  src/PrintPage.vue
  src/components/core/Paper.vue
  src/utils/timeFunction.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

Create lint-and-test.yml
  .github/workflows/lint-and-test.yml
Due: none

Update lint-and-test.yml
  .github/workflows/lint-and-test.yml
Due: none

chore: test coverage script
  .gitignore
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --cache --fix, prettier --write

chore: 测试单测失败的pr
  src/classes/Paper.test.ts
  src/utils/utils.test.ts
Due: eslint --cache --fix, prettier --write

chore: pr test
  README.md
Due: none

Add Codacy badge
  README.md
Due: none

chore: codacy badge
  README.md
Due: none

feat: 模版预览卡片渲染元素组件
  src/components/templates/TemplateList.vue
  src/components/templates/TemplatePreviewCard.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 预览/编辑模式区分
  src/App.vue
  src/classes/Paper.ts
  src/components/core/Paper.vue
  src/components/templates/TemplatePreviewCard.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 预览导航器
  src/App.vue
  src/classes/Paper.ts
  src/components/core/MaterialInstance.vue
  src/components/core/Paper.vue
  src/components/other/PreviewNavigator.vue
  src/components/other/PreviewNavigatorPage.vue
  src/components/templates/TemplatePreviewCard.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 画布出血框真实距离在缩放时保持一致
  src/App.vue
  src/components/core/Paper.vue
  src/components/core/Sketch.vue
  src/components/other/AddPageBtn.vue
  src/components/other/PreviewNavigator.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 画布初始位置
  src/App.vue
  src/components/core/Paper.vue
  src/components/core/Sketch.vue
  src/components/other/PreviewNavigator.vue
  src/composables/useWindowMouseWheel.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 缩放交互中心点逻辑优化
  src/classes/Runtime.ts
  src/components/core/Paper.vue
  src/components/core/Sketch.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 预览器点击跳转到对应的页面
  src/components/core/Paper.vue
  src/components/other/PreviewNavigator.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 页面位置初始化改用scrollIntoView api
  src/components/core/Sketch.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 调试面板
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/other/DevPanel.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 导航器交互动画
  src/classes/Runtime.ts
  src/components/core/Paper.vue
  src/components/other/DevPanel.vue
  src/components/other/PreviewNavigator.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 页面bounding信息跟新干扰问题
  src/components/core/Paper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 滚动条始终显示
  src/components/core/Sketch.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 导航器zoom改用transform
  src/components/other/PreviewNavigator.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 插入和删除页面hover区分
  src/components/core/Paper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update @commitlint/cli
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 新增页面按钮点击干扰问题
  src/components/core/Paper.vue
  src/components/other/AddPageBtn.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: runtime类优化，移除不合理的响应式代码
  README.md
  src/App.vue
  src/classes/Runtime.ts
  src/components/core/MaterialConfigPopover.vue
  src/components/core/MaterialInstance.vue
  src/components/core/MaterialPrototype.vue
  src/components/core/Paper.vue
  src/components/core/Sketch.vue
  src/components/other/AddPageBtn.vue
  src/components/other/DevPanel.vue
  src/components/other/PreviewNavigator.vue
  src/components/templates/TemplatePreviewCard.vue
  src/components/tools/Align.vue
  src/components/tools/Group.vue
  src/components/tools/Save.vue
  src/components/tools/ViewOpt.vue
  src/composables/useApp.ts
  src/composables/useRuntime.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: usePaper和useMaterial抽离
  src/App.vue
  src/PrintPage.vue
  src/classes/Material.ts
  src/classes/Paper.ts
  src/components/core/MaterialConfigPopover.vue
  src/components/core/MaterialInstance.vue
  src/components/core/MaterialPrototype.vue
  src/components/core/Paper.vue
  src/components/core/Sketch.vue
  src/components/materials/MDivider.vue
  src/components/materials/MIcon.vue
  src/components/materials/MImage.vue
  src/components/materials/MList.vue
  src/components/materials/MPie.vue
  src/components/materials/MRating.vue
  src/components/materials/MRect.vue
  src/components/materials/MText.vue
  src/components/materials/MTimeline.vue
  src/components/other/AddPageBtn.vue
  src/components/other/DevPanel.vue
  src/components/other/PreviewNavigator.vue
  src/components/other/PreviewNavigatorPage.vue
  src/components/templates/TemplatePreviewCard.vue
  src/components/tools/Align.vue
  src/components/tools/Group.vue
  src/components/tools/ImportExport.vue
  src/components/tools/Print.vue
  src/components/tools/Save.vue
  src/components/tools/ViewOpt.vue
  src/composables/useApp.ts
  src/composables/useMaterial.ts
  src/composables/usePaper.ts
  src/composables/useRuntime.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: config widgets use setup script
  src/components/config-widgets/BorderStyle.vue
  src/components/config-widgets/Color.vue
  src/components/config-widgets/ConfigToggle.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

refactor: material和paper注入不再提供默认值，统一api风格
  src/App.vue
  src/PrintPage.vue
  src/components/core/MaterialConfigPopover.vue
  src/components/core/MaterialInstance.vue
  src/components/core/Paper.vue
  src/components/other/PreviewNavigator.vue
  src/components/other/PreviewNavigatorPage.vue
  src/components/templates/TemplatePreviewCard.vue
  src/composables/useMaterial.ts
  src/composables/usePaper.ts
  src/composables/useRuntime.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update vuetify
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 元素配置条激活状态问题，代码组织优化
  src/classes/Material.ts
  src/components/core/MaterialConfigPopover.vue
  src/components/core/MaterialInstance.vue
  src/components/materials/MDivider.vue
  src/components/materials/MIcon.vue
  src/components/materials/MImage.vue
  src/components/materials/MList.vue
  src/components/materials/MPie.vue
  src/components/materials/MRating.vue
  src/components/materials/MRect.vue
  src/components/materials/MText.vue
  src/components/materials/MTimeline.vue
  src/composables/useMaterial.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 元素拖拽移动事件注册问题，增加开关控制不必要的事件注册
  src/components/core/Paper.vue
  src/composables/useMouseDragDynamic.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 元素配置条改为hover触发
  src/components/core/MaterialConfigPopover.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 键盘方向移动元素 close #10
  README.md
  src/App.vue
  src/composables/useKeyboard.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 元素配置弹出面板交互问题
  src/components/core/MaterialConfigPopover.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --cache --fix: (any of: *.{[tj]s,[tj]sx,[cm][tj]s}) or (any of: *.vue)
  prettier --write: ((any of: *.{[tj]s,[tj]sx,[cm][tj]s}) or (any of: *.vue)) or (any of: *.{json,html})
  stylelint --fix: (any of: *.vue) or (any of: *.css)
  stylelint --syntax=scss --fix: any of: *.scss
