Repository StreakingMan/vue3-resume-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix, stylelint --syntax=scss --fix

Revert "fix: 元素配置弹出面板交互问题"
  src/components/core/MaterialConfigPopover.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 元素配置条触发方式
  src/components/core/MaterialConfigPopover.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 文本元素输入问题
  src/components/materials/MText.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

feat: 键盘移动支持长按
  src/composables/useKeyboard.ts
Due: eslint --cache --fix, prettier --write

fix: 分页线样式
  src/components/core/Paper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: 调整拖拽点位置
  src/components/core/MaterialConfigPopover.vue
  src/components/core/MaterialInstance.vue
  src/components/core/config.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: 图片元素组件改为setup script
  src/components/materials/MImage.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 配置popover中输入框无响应问题
  src/components/materials/MIcon.vue
  src/components/materials/MImage.vue
  src/components/materials/MPie.vue
  src/components/materials/MTimeline.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 打印预览页隐藏添加按钮
  src/components/core/Paper.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: 打印预览页使用动态时间标题
  src/PrintPage.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies and fix types error
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/components/materials/MImage.vue
  src/components/tools/ImportExport.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix: update website info section to remove redundant link
  src/components/other/BeiAn.vue
  src/components/other/WebsiteInfo.vue
Due: eslint --cache --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --cache --fix: (any of: *.{[tj]s,[tj]sx,[cm][tj]s}) or (any of: *.vue)
  prettier --write: ((any of: *.{[tj]s,[tj]sx,[cm][tj]s}) or (any of: *.vue)) or (any of: *.{json,html})
  stylelint --fix: (any of: *.vue) or (any of: *.css)
  stylelint --syntax=scss --fix: any of: *.scss
